BOM_from_JSON.pptx
Calculate_Prices.py
capital_distances_to_netherlands.csv
Cases_BOM_prelim.py
CEEF.json
Clear_out_BOM.py
config.py
country-capitals.csv
CreateExcel.py
data.json
DUT25_Prelim_BOM.json
FSCZ_info.ipynb
FSE_CBOM_team285_v20250804_0951.csv
FSG_BOM_DUT25.json
FSG_BOM.json
FSG_BOM.xlsx
FSG_Website.html
Get_Prices.ipynb
ImportBOM.py
ImportCEEF.py
output.json
Prelim_BOM.py
Prelim_Compiler.py
Template_generator_html.py
Template_generator.py
test_create_part.py
test.ipynb
updated_cases_bom_prelim.csv
World_map.ipynb
.vscode/settings.json
__pycache__/Calculate_Prices.cpython-39.pyc
__pycache__/Cases_BOM_prelim.cpython-39.pyc
__pycache__/Clear_out_BOM.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/ImportBOM.cpython-39.pyc
Data/Bolt_DIN912.csv
Data/Bolt_DIN933.csv
Data/CotterPin_DIN1444.csv
Data/Nut_DIN934.csv
Data/Nut_DIN980V.csv
Data/Nut_DIN985.csv
Data/Nut_DIN9125.csv
Data/RetainingRing_DIN471.csv
Data/RetainingRing_DIN472.csv
Data/Rivet_DIN 7337.csv
Template/Template.png
Template/Template.pptx
Template/Img/slide_1.jpg
Template/Img/slide_2.jpg
Template/Img/slide_3.jpg
